.button {
  position: relative;
  margin-inline: 0.2rem;
  padding: 1.15rem;
  width: 35px;
  height: 35px;
  border-width: 0;
  border-radius: 2px;
  background-color: transparent;
}

.button > svg {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  fill: hsl(192, 15%, 94%);
}

.button--blue {
  background-color: var(--clr-blue);
}

.button--red {
  background-color: var(--clr-red);
}

.button--green {
  background-color: var(--clr-green);
}

.button--yellow {
  background-color: var(--clr-yellow);
}
