.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: var(--fw-medium);
}

.button {
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: var(--fw-semiBold);
  background-color: var(--clr-white);
}

.table {
  margin-top: 2rem;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
